* {box-sizing: border-box;}


$green: #91B28C; 
$yellow: #F9A45C;
$orange: #F98759;

$blue: #9ECBE0;
$white: white;
$black: #161616;

html {
    background-color: $black;
    overflow: scroll;
    overflow-x: hidden;
    }

::-webkit-scrollbar {
        width: 0px; 
    }

body{
margin: 0;
padding: 0; 
//background-color: #161616;
}

//menu bar mobile

.button{
	  background-color:$blue;
    border: 2px solid $blue;
    height:100%;
    width: 100%;
    padding:1rem;
}

.button-position{
    position:fixed;
	  transition: .5s ease;
    right: 1rem;
    top: 1rem;
    display:none;
    z-index: 50;

}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($blue,0.9);
  z-index: 100;
  cursor: pointer;
}

#menu-mobile-text{
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);

  text-align: center;
  font-size: 2rem;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.7rem;

  a{
    text-decoration: none;
    color: $black;
    line-height: 4rem;
  }

  a:hover{
    color: $white;
  }

}


//menu bar

.menu-box{ 
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1.5rem;
    top: 1rem;
    z-index: 5;
 }
 
 #mySidenav a {
     position: fixed;
     right: -3.33vw;
     display: flex;
     justify-content: center;
     padding-top: 0.9vh;
     margin-top: 1.3rem;
    
     height: 2.25rem;
     width: 10vw;
     
     transition: 0.3s;
     text-decoration: none;
     
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     text-transform: uppercase;
     letter-spacing: 0.3vw;
     font-size: 1vw;
     color: transparent;
     //border-radius:  5px 0 0 5x ;
   }

   
   #mySidenav a:hover {
     right: 0;
     color: black;
   }
   
   #artwork {
     top: 0rem;
     background-color: $blue;
    
   }
   
   #about {
     top: 2.5rem;
     background-color: $blue;
     
   }
   
   #contact {
     top: 5rem;
     background-color: $blue;
     
   }
   
   #archive {
     top: 7.5rem;
     background-color: $orange;
     
   }



//Back Button

.back-button {
  height: 195px;
  position: fixed;
  left: 1.3rem;
  top: -2rem;
  width: 1rem;
}
.back-button .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.back-button:hover .img-top {
  display: inline;
}


// hover on images for info 

.image-container {
    position: relative;
    width: 100%;
    
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: $black;
  }
  
  .image-container:hover .overlay {
    opacity: 0.9;
  }
  
  .project-text {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    //-ms-transform: translate(-50%, -50%);

    text-align: center;
    display: flex;
    justify-content: center;
    
    text-decoration: none;
    font-size: 1.3rem;
    color: $blue;
    font-family: 'futura-pt';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.6rem;

    &:hover{
        color: grey;
    }

  }
  
  .project-subtext{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    text-align: center;
    display: flex;
    justify-content: center;
    
    text-decoration: none;
    font-size: 0.7rem;
    color: white;
    font-family: 'futura-pt', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}



//document formating


.col-xs-12 {
    padding: 0;
    display: flex;

}



img {
    height: 100%;
    width: 100%;
    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 50%;
}

#column-stack{
  display: flex;
  flex-direction: column;
  }


//fonts

.font-header {
    display: flex;
    justify-content: left;
    margin-top: 2rem;
    margin-left: 0.95rem;
    padding-left: 1rem;
    padding-right: 4rem;

    color: $blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}


.font-subheader{
    display: flex;
    justify-content: left;
    margin-bottom: 2rem;
    margin-left: 1.35rem;
    padding-left: 1rem;

    color: $white;
    font-family: 'futura-pt';
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.6rem;

}


//

.font-header2 {
  display: flex;
  justify-content: left;
  margin-top: 2rem;
  margin-left: 6.2rem;
  padding-left: 1rem;
  padding-right: 4rem;

  text-decoration: none;

  color: $blue;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.font-subheader2 {
  display: flex;
  justify-content: left;
  margin-bottom: 1.735vh;
  margin-left: 6.6rem;
  padding-left: 1rem;
  padding-right: 4rem;
  padding-bottom: 1rem;

  color: $white;
  font-family: 'futura-pt';
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.6rem;

}

.footer {

    display: block;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    //margin: 3rem;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);

    padding-top: 1rem;
    padding-bottom: 1rem;

    color: $white;
    font-family: 'futura-pt';
    font-size: 0.5rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
    text-transform: uppercase;
}

//landing page

.top-padding{
  height: 9rem;

}

.name{
  color: $white;
  padding-top: 2rem;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 3rem;
  line-height: 4rem;
/* identical to box height, or 62% */

text-align: center;
letter-spacing: 0.1rem;
text-transform: uppercase;
font-feature-settings: 'pnum' on, 'lnum' on;
}

.sub-name{
  color: $white;
  padding-bottom: 2.5rem;
  margin-bottom: 5rem;
  font-family: 'futura-pt';
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  line-height: 0.5rem;
  text-transform: uppercase;
/* or 125% */

text-align: center;
letter-spacing: 1em;
font-feature-settings: 'pnum' on, 'lnum' on;
}

.font-header3 {

  display: flex;
  justify-content: left;
  margin-top: 2rem;
  margin-left: 6.2rem;
  padding-left: 1rem;
  padding-right: 4rem;

  text-decoration: none;

  color: $blue;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  &:hover{
    color: grey;
  }

}
  
//About & Contact page text formating 

.subhead-about{
  color: $blue;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.05rem;

}

.body-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 4rem;
  padding-left: 4rem;
  //margin-left: 15rem;  
  //margin-right: 15rem;

  color: $white;
  font-family: 'futura-pt';
  font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
  
  
}

//Info pages

.stick-page {
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
}

.image-container-info{  
  overflow: scroll;
  height: 80vh;
}

.body-text-info{
  

    align-self: center;
    padding-left: 7rem;
    padding-right: 5rem;
    padding-top: 3vh;
    padding-bottom: 3rem;

  color: $white;
  font-family: 'futura-pt';
  font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.05rem;
  font-weight: 400;

  
  
}

// contact page

.bgbox{
  background-color: $blue;
}

.spacer-bar{
  background-color: transparent;
  height: 4rem;
}

.phrase1 {

padding: 2rem;

font-family: 'futura-pt';
font-style: normal;
font-weight: 400;
font-size: 1.3rem;
line-height: 2rem;

text-align: center;
letter-spacing: 0.1em;
text-transform: capitalize;
font-feature-settings: 'pnum' on, 'lnum' on;
}

.phrase2{
  
  padding-top: 2rem;

  font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 2.5rem;
line-height: 1.25rem;
/* identical to box height, or 62% */

text-align: center;
letter-spacing: 0.1rem;
text-transform: uppercase;
font-feature-settings: 'pnum' on, 'lnum' on;
}

.phrase3{

  padding-bottom: 1rem;


  font-family: 'futura-pt';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 0.5rem;
/* or 125% */

text-align: center;
letter-spacing: 0.1em;
font-feature-settings: 'pnum' on, 'lnum' on;
}

.phrase4{

  margin-bottom: 2rem;

  font-family: 'futura-pt';
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.2rem;
  
  color: $white;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-feature-settings: 'pnum' on, 'lnum' on;

}

//decorations

.profile-photo{
  display: flex;
  justify-content: center;
  height: auto;
  width: 20rem;
  
}

hr{
  width: 75%;
  border: 2px solid white;
}

.instagram{

  margin-top: 1rem;
  margin-bottom: 2rem;

  height: 3rem;
  width: 3rem;

}

// media quary 

@media screen and (max-width: 700px) {
  #mySidenav a {
    font-size: 1.7vw;
  }

  .font-header2{
    font-size: 2.2rem;
    margin-left: 5rem;
    text-decoration: none;

}

.font-header3{
  font-size: 2.2rem;
  margin-left: 5rem;
  text-decoration: none;

}

  .font-subheader2{
    font-size: 0.6rem;
    letter-spacing: 0.4rem;
    margin-left: 5.4rem;
  }

  .body-text-info{
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .sidenav{
    display: none;
  }

  .button-position{
   display: block;
  }

}

@media screen and (max-width: 992px) {
  
  .image-container-info{  
    overflow: visible;
    height: auto;
  }

}

